#signInText{
    font-size: 10px;
    background-color: rgb(19, 25, 33);
    border: none;
    font-family: 'Amazon Ember', Arial sans-serif;
    color: white;
    text-align: left;
}

#dropButton{
    position: relative;
    background-color: rgb(19, 25, 33);
    font-family: 'Amazon Ember', Arial sans-serif;
    color: white;
    height: 40px;
    width: 100%
}


#dropButton:hover{
    background-color: rgb(19, 25, 33);
    font-family: 'Amazon Ember', Arial sans-serif;

}
    

#dropButton:hover {
    background-color: rgb(19, 25, 33);
    font-family: 'Amazon Ember', Arial sans-serif;
    color: white;
    border: solid white;
    border-radius: 2px;
}

#carrotContainer{
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    text-align: left;
    /* align-content: flex-start; */
    height: 40px;
    width: 100%;
    
}

#carrot{
    color: rgb(151, 151, 151);
    font-size: 9.5px;
}


#accountLists{

    font-size: 11.5px;
    display: block;
    font-weight: bold;

}



#homeSignInButton{
    height: 23px;
    width: 100%;
    background-color: rgb(254, 214, 54);
    border-radius: 5px;
    border: none;
    margin: 0px 0px 3px;
    padding: 5px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;

}

#signinDrop{
    display: block;
    justify-content: column;
    align-items: center;
} 




#dropContainer{
    position: absolute;
    border: solid lightgray;
    background-color: white;
    height: 100px;
    width: 400px;
    /* right: 10px; */
    left: -150px;
    z-index: 2;
    display: flex; /* Use flexbox to center the items */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

#homeSignInButton{
    position: relative;
    bottom: 15px;
    width: 200px;
}