#title{
    position: relative;
    margin-top: 100px;

}


#splashBox{

    display: flex;
    flex-direction: row;
    justify-content: center;

}


#splashContiner{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

}

#splashImg{

    height: 560px;
    z-index: 1;
}

#imageList{
    position: relative;
    left: 0px;
    bottom: 30px;
    margin: 5px;

    padding: 0px;
    list-style: none;

}

#productShowPageContainer{

    position: relative;
    bottom: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 4;
}

#indexItemsContainer{

    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(246, 246, 246);
    border: solid rgb(234, 234, 234);
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
  

}


#productImgOne {
    width: 300px;
    height: 330px;
    align-items: center;
}


#productNameOnIndex{
    text-decoration: none;
}


#productLinkContainerIndex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-family: 'Amazon Ember', Arial sans-serif;

}

#productPriceOnIndex{
    display: flex;
    font-size: 25px;
}

#productCentsOnIndex{

    position: relative;
    top: 2px;
    font-size: 12px;
    margin: 1px;
}

#productInfoContainerOnIndex{
    margin: 10px;
}