#mainPageBox{

    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(19, 25, 33);
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#logoLinkContainer{

    height: 53px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px transparent; 
    border-radius: 3px;
    margin-left: 5px;

}

#logoLinkContainer:hover{

    height: 53px;
    display: flex;
    align-items: center;
    border: solid 1px white;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 5px;


}



#searchBox{

    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Amazon Ember', Arial sans-serif;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
    font-size: 12px;
    top: 5px;
}

#searchBox:focus{

    border: none;
}


#mainLogo {
    margin-top: 3px;
    margin-left: 10px;
    height: 45px;
}

#searchBoxContainer{

    display: flex;
    margin-top: 4px;
    width: 530px;
    height: 33px;
    margin-left: 120px;
    /* margin-left: 160px; */

}

#searchButton {
    position: relative;
    background-color: #febd69;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 108%;
    padding: 0px;
    margin: 0px;
    width: 50px;
    top: 5px;
    /* font-size: 13px; */
}


#searchButton:hover {
    background-color: #e1a14e;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 108%;
    padding: 0;
    width: 50px;
}

#dropProfile{
    margin-right: 160px;
}


#searchbar-container{
    

    display: flex;
    align-items: center;
    position: relative;
    width: 530px;
    height: 33px;
    margin-left: 120px;
    margin-top: 4px;
}


#search-input, #search-input:focus{

    border: 0;
    outline: none;
    width: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Amazon Ember', Arial sans-serif;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
    font-size: 12px;
    top: 5px;

}

#search-dropdown {
    position:absolute;
    top: 45px;
    width: 100%;
    background-color: white;
    list-style: none;
    z-index: 3;

}

.search-dropdown-item{
    border: solid 1px black;
    padding: 5px;
    cursor: pointer;
}


#search-button{

    position: relative;
    background-color: #febd69;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 108%;
    padding: 0px;
    margin: 0px;
    width: 50px;
    top: 5px;

}


#search-button:hover{
    background-color: #e1a14e;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 108%;
    padding: 0;
    width: 50px;
}