#mainPageBox{

    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(19, 25, 33);
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
}

#logoLinkContainer{

    height: 53px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px transparent; 
    border-radius: 3px;
    /* margin-left: 5px; */
    position: relative;
    left: 25px;
    cursor: pointer;
}

#logoLinkContainer:hover{

  

    border: solid 1px white;
  

}


#mainLogo {
    margin-top: 3px;
    height: 45px;
}



#cartButton {
    /* position: relative; */
    /* right: 100px; */
    display: flex;
    align-items: center;
    border: solid 1px transparent;
    position: relative;
    right: 40px;
}

#cartButton:hover {
    /* position: relative; */
    display: flex;
    align-items: center;
    border: solid 1px white;
    cursor: pointer;
}
  
#cartAmount {
    position: relative;
    bottom: 8px;
    /* right: 0px;  */
    left: 38px;
    font-family: 'Amazon Ember', Arial sans-serif;
    color: rgb(238, 136, 36);
    font-weight: bold;
    border-radius: 50%; 
    padding: 5px;
    font-size: 16px; 
    z-index: 4; 
}

#cartImg {
    height: 58px;
    background-color: transparent;
    margin-bottom: 4px;
    z-index: -1;
}


#searchButton {
    position: relative;
    background-color: #febd69;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 107%;
    padding: 0px;
    margin: 0px;
    width: 50px;
    top: 5px;

}


#searchButton:hover {
    background-color: #e1a14e;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 107%;
    padding: 0;
    width: 50px;
}




#searchbar-container{
    

    display: flex;
    align-items: center;
    position: relative;
    width: 630px;
    height: 33px;
    margin-left: 120px;
    margin-top: 4px;
}


#search-input, #search-input:focus{

    border: 0;
    outline: none;
    width: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Amazon Ember', Arial sans-serif;
    font-size: 15px;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
    font-size: 50x;
    top: 5px;

}

#search-input::placeholder{

font-size: 15px;

}

#dropProfile{

    width: 115px;

}

#search-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border: solid 1.5px rgb(198, 198, 198);
    font-family: 'Amazon Ember', Arial sans-serif;
    border-radius: 3px;
    top: 24px; 
    width: 93.2%;
    background-color: white;
    list-style: none;
    z-index: 3;
    font-weight: bold;
    

}

.search-dropdown-item{
    position: relative;
    right: 40px;
    padding: 5px;
    cursor: pointer;
}


#search-button{

    position: relative;
    background-color: #febd69;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 107%;
    padding: 0px;
    margin: 0px;
    width: 50px;
    top: 5px;
    cursor: pointer;
}


#search-button:hover{
    background-color: #e1a14e;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 107%;
    padding: 0;
    width: 50px;
}

#mag{
    font-size: 19px;
}


#gitLogo{

    width: 48px;
    margin-right: 5px;
}

#linkLogo{

    width: 48px;

}

#myLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
}


