#adjustmentContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 100px;
}

#reviewMainContainer{


    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;

}

#reviewTitlePage{

    font-size: 22px;
 
 
}




#itemDescription{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;

}

.formHeaders{

    width: 100%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#dropRatingShow{

    width: 50vh;
  

}

#dropRating{

    font-size: 16px;

}

#dropdownRating{

    width: 100%;
    height: 5vh;
    font-size: 16px;

}


#productReviewImg{

    width: 12vh;

}

#reviewNameContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#reviewName{

    position: relative;
    top: px;
    text-align: center;

}


