#cartPageContainer{

    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(219, 219, 219);
    gap: 20px;
    margin-top: 30px;
    
}

#cartMainContainer{

    display: flex;
    flex-direction: column;
    background-color: white;
    /* background-color: blue; */
    border: solid 0.5px lightgray;
    font-family: 'Amazon Ember', Arial sans-serif;
    height: 100%;
    width: 100%;
    border-radius: 3px;

}

#cartSidebarContainer{

   

}

#subtotalContainer{

    height: 200px;
    width: 300px;
    background-color: red;
    border-radius: 3px;

}

#recommendedContainer{

    height: 500px;
    width: 300px;
    background-color: blue;
    margin-top: 20px;
    border-radius: 3px;

}

#cartInfoContainer{

    display: flex;
    gap: 6px;
    margin-left: 3px;
}

#cartSubContainer{

    display: flex;
    flex-direction: row;
    margin: 15px;

}

#cartShowPageDivider{

    border-top: solid 1px rgb(190, 190, 190);
    margin-left: 15px;
    margin-right: 15px;

}

#cartInfoContainer{


    display: flex;
    flex-direction: column;

}

#mainCartHeader{


    font-size: 28px;
    margin-top: 15px;
    margin-left: 15px;

}


#productCartImg{


    height: 180px;
    width: 180px;

}

#productCartPrice{

    font-weight: bold;

}

#eligibleFree{

    color: rgb(98, 97, 97);
    font-size: 12px;

}

#eligibleFreeTwo{

        color: black
}

#eligibleFreeThree{

    color: rgb(0, 113, 133)
}


#cartDeleteButton {
    background: none;
    border: none;
    padding: 0;
    color: rgb(56, 144, 160);
}


#cartDeleteButton:hover {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    color: rgb(56, 144, 160);
    cursor: pointer;
}

#cartModifyContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#cartShowPageHorizontalDivider{

    border-left: solid 0.5px gray;


}