#loginFormContents {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#formBox {
    border: 1px solid lightgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding: 14px 18px;
    width: 250px;
    font-family: 'Amazon Ember', Arial sans-serif;
}

#logo{
    padding-bottom: 10px;
    height: 40px;
    display: flex;
    justify-content: center;

}

#signUpButton {
    
    height: 23px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 0px 0px 3px;
    padding: 5px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    
}

#signUpButton:hover {
    background-color: rgb(247, 250, 250) ;
}

#signButton {
    height: 23px;
    width: 100%;
    background-color: rgb(254, 214, 54);
    border-radius: 5px;
    border: none;
    margin: 0px 0px 3px;
    padding: 5px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;

}


#signButton:hover {
    background-color: rgb(240, 201, 41);
}

#signUpButton{
    width: 100%;
}

#inputButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#redirectLink {
    display: flex;
    font-family: arial, sans-serif;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 290px;
}

#emailButton,
#passButton,
#signButton {
    height: 23px;
    width: 100%;
    padding: 0px 7px; 
    margin: 0px 0px 4px; 
}

#emailButton,
#passButton {
    display: flex;
    flex-direction: column;
    width: 230px;
}
 

#emailText,
#passText {
    font-size: 10px;
    font-weight: bold;
}


/* #passButton:focus {
    
    border-color: red;
    box-shadow: 0px 0px 10px green;
    outline: red;
    border-radius: 5px;
} */

#signHead {
    display: flex;
    padding: 0px 0px 4px;
    margin: 0px 0px 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
}

#bottomText{

    font-size: 10px;
}

#newToJungle{
    font-size: 10px;
    color: rgb(118, 118, 118);
}

#errorText{ 
    font-family: 'Amazon Ember', Arial sans-serif;
    align-items: center;
    font-size: 12px;
    /* font-weight: bold; */
    color: rgb(213, 11, 11);
}

#errorTextE{
    font-family: 'Amazon Ember', Arial sans-serif;
    font-size: 11px;
}

#loginErrorContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0px solid rgb(179, 92, 92);
    box-shadow: 0 0 0 1px rgb(166, 76, 76) inset, 0 0 0px 2px rgb(245, 211, 211);
    width: 277px;
    border-radius: 4px;
    padding: 4px;
}

#signupFieldErrorsL{
    
    font-family: 'Amazon Ember', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    height: 23px;
    width: 230px;
    border: 2px solid rgb(191, 3, 3);
    background-color: white;
    box-shadow: 0 0 0 1px rgb(191, 3, 3) inset, 0 0 0px 2px rgb(245, 211, 211);
    border-radius: 3px;
    border-width: 0.5px;
    padding: 0px 7px; 
    font-style: italic;
}


#signupFieldErrorsL:focus{
    font-family: 'Amazon Ember', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    height: 23px;
    width: 230px;
    box-shadow: 0 0 0 1px rgb(191, 3, 3) inset, 0 0 0px 2px rgb(245, 211, 211);
    border-width: 0.5px;
    background-color: white;
    border-width: 1px;
}

#warningTriangle{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#alertPic {
    height: 30px;
    margin-right: 20px;
    width: 30px;
}

#errorWords{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}