#formBox {
    padding: 20px;
    height: 100px;
    display: flex;
    font-family: arial, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


label, input{

    display:flex;
    flex-direction:column;
    height: 35px;
    
    
}

#signButton {

    height: 20px;
    width: 100px;
    background-color :rgb(254, 214, 54)

}

#inputButtons {

font-size: 12px;
font-weight: bold;

}


#redirectLink  {

    display: flex;
    font-family: arial, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}